
<section>
    <div class="upper">
        <div class="img_left">
            <img class="bgleft1" src="../assets/BGVirusLeft2.png" alt="BGVirus">
            <img class="bgleft2" src="../assets/BGVirusLeft1.png" alt="BGVirus">
        </div>
        <div class="heading">
            <img src="../assets/Arrow.png" class="arow" alt="">
            <h1 class="safe_heading">Safe Hand,<br>Safe Life</h1>
            <p class="safe_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. tincidunt tincidunt donec convallis.</p>
        </div>
        <div class="img_right">
            <img class="bgright" src="../assets/BGVirusRight.png" alt="BGVirus">
        </div>
        
    </div>

    <div class="middle">
        <div class="middle_left">
            <div class="hand">
                <img src="../assets/lines.png" alt="">
                <img src="../assets/hand.png" alt="">
            </div>
            <div class="review-container">
                <div class="review">
                    <img src="../assets/rightfemale.png"  alt="">
                    <img src="../assets/stars.png" class="animate__animated animate__swing animate__infinite"  alt="">
                </div>
                <div class="coom">
                    <h2>,,</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, laboriosam.</p>
            </div>
        </div>

        <div class="middle_center">
            <div class="order"><button>Order Now</button></div>
            <img src="../assets/female.png" class="center_female" alt="">
        </div>

        <div class="middle_right">
            <div class="img">
                <img src="../assets/handwash.png" alt="">
            </div>
            <div class="review-container">
                <div class="review">
                    <img src="../assets/left_female.png" alt="">
                    <img src="../assets/thumb.png" class="animate__animated animate__swing animate__infinite" alt="">
                </div>
                <div class="coom">
                    <h2>,,</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quasi?</p>
            </div>
        </div>
    </div>
</section>