<div class="content-box">
    <h1>Testimonials</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id tincidunt tincidunt donec fermentum. Lectus mattis aliquam adipiscing.</p>
    <div class="image">
        <img src="../assets/testi1.png" alt="">
        <div class="group">
          <img src="../assets/Group40671.png" alt="">
        </div>
        <div class="ii">
            <img src="../assets/testi2.png" alt="">
        </div>
    </div>

    <div class="radio">
        <div class="custom-radio">
            <input type="radio" id="radio1" name="radio" />
            <label for="radio1"></label>
          </div>
          <div class="custom-radio">
            <input type="radio" id="radio2" name="radio" />
            <label for="radio2"></label>
          </div>
          <div class="custom-radio">
            <input type="radio" checked id="radio3" name="radio" />
            <label for="radio3"></label>
          </div>
          <div class="custom-radio">
            <input type="radio" id="radio4" name="radio" />
            <label for="radio4"></label>
          </div>
    </div>
</div>